.pokemon-details {
    text-align: center;
    height: 50rem;
}

.pokemon-details .name{
    text-transform: capitalize;
}

.pokemon-details .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
}

.pokemon-details .image {
    width: 6rem;
    height: 6rem;
}

.pokemon-details .description{
    margin: 1rem;
    text-align: left;
}