.pokemon-item {
    background-color: black;
    color: white;
    margin: 1rem;
    cursor: pointer;
}

.pokemon-item .id{
    background-color: green;
}

.pokemon-item .image{
    width: 10rem;
    height: 10rem;
}